
body {

    background-color: rgb(19, 19, 19);
}

.container:not(.footer .container) {
    background-color: rgb(230, 230, 230);
}

p {
    color: rgb(19, 19, 19);
}

h1.display-4:not(.contacto h1, .servicios h1) {
    color: rgb(19, 19, 19);
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
}

.lineas {
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 35px;
}

.servicios {
    background-color: rgb(14, 14, 14);
    color: rgb(230, 230, 230);
    padding: 50px;
}

.imagenes img {

    max-width: 200px;
    max-height: 100px;

}

.imagenes p {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.image-card {
    width: 200px;
    margin-bottom: 20px;
}

.tarjeta {
    margin-bottom: 10px;
}

.modal-dialog {
    max-width: 90%;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    width: 100%;
}

.panel {
    opacity: 0;
    /* Inicialmente, los divs están ocultos */
    transition: opacity 0.5s;
    /* Animación de transición de opacidad */
    margin-bottom: 20px;
    /* Espacio entre los divs */
}

.contacto {
    background-color: rgb(14, 14, 14);
    color: rgb(230, 230, 230);
    padding: 50px;
}

.btn:not(.contacto .btn, .servicios .btn) {
    background-color: rgb(14, 14, 14);
    border-color: black;
    border-radius: 0;
    width: 150px;
    height: 60px;
    text-align: center;
    margin: auto;
    display: block;
}

.cartaprecios {
    text-align: center;
}

.cartaprecios .card-subtitle {
    font-size: 60px;
}

.cartaprecios .card-header h3 {
    font-size: 16px;
    font-weight: 600;
}

.contacto .btn,
.servicios .btn {
    background-color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    border-radius: 0;
    color: black;
    width: 150px;
    height: 60px;
    text-align: center;
    margin: auto;
    display: block;
}

.list-unstyled li {
    margin: 20px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;


}



.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .footer ul li {
    margin-right: 10px;
  }
  
  
  
  
.separator {
    position: relative;
    text-align: center;

    margin-bottom: 30px;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    /* Ajusta el ancho según tus preferencias */
    height: 1px;
    background-color: #000;
    /* Color de los puntos */
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

.separator span {
    position: relative;
    padding: 0 10px;
    font-size: 30px;
    z-index: 1;
}

nav {
    background-color: #f8f9fa;
}

nav a{
   color: #000;
}

nav a:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: #000;
}


#btn-volver-inicio {
    display: none; /* Oculta el botón inicialmente */
    position: fixed;
    bottom: 20px;
    right: 20px;
    
  }