body {
    background-color: rgb(230, 230, 230);

}

p {
    color: rgb(19, 19, 19);
}

h1 {
    color: rgb(19, 19, 19);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.lineas {
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 35px;
}

.servicios {
    background-color: rgb(14, 14, 14);
    color: rgb(230, 230, 230);
    padding: 50px;
}

.imagenes img {

    max-width: 200px;
    max-height: 100px;

}

.imagenes p {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.image-card {
    width: 200px;
    margin-bottom: 20px;
}

.modal-dialog {
    max-width: 90%;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    width: 100%;
}

.panel {
    opacity: 0; /* Inicialmente, los divs están ocultos */
    transition: opacity 0.5s; /* Animación de transición de opacidad */
    margin-bottom: 20px; /* Espacio entre los divs */
  }