

body {

    background-color: rgb(19, 19, 19);
}

.container:not(.footer .container) {
    background-color: rgb(230, 230, 230);
    padding-bottom: 20px;
}

nav {
    background-color: #f8f9fa;
}

nav a{
   color: #000;
}

nav a:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: #000;
}


#btn-volver-inicio {
    display: none; /* Oculta el botón inicialmente */
    position: fixed;
    bottom: 20px;
    right: 20px;
    
  }


  .separator {
    position: relative;
    text-align: center;

    margin-bottom: 30px;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    /* Ajusta el ancho según tus preferencias */
    height: 1px;
    background-color: #000;
    /* Color de los puntos */
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

.separator span {
    position: relative;
    padding: 0 10px;
    font-size: 30px;
    z-index: 1;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
 padding-top: 20px;

}



.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .footer ul li {
    margin-right: 10px;
  }



  h1{
    text-align: center;
  }

  img{
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
  }


  .separator2 {
    border-top: 1px solid black;
    width: 75%;
    margin: 50px auto;
    display: block;
  }

  h2{
    text-align: center;
  }

  .panel {
    opacity: 0;
    /* Inicialmente, los divs están ocultos */
    transition: opacity 0.5s;
    /* Animación de transición de opacidad */
    
    /* Espacio entre los divs */
}


.panel p{
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}